In [1]:
a=20
print(a,type(a))

20 <class 'int'>

In [2]:
a=20.5
print(a,type(a))

20.5 <class 'float'>

In [3]:
pip install qrcode

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting qrcode
  Downloading qrcode-8.2-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from qrcode) (0.4.6)
Downloading qrcode-8.2-py3-none-any.whl (45 kB)
Installing collected packages: qrcode
Successfully installed qrcode-8.2

  WARNING: The script qr.exe is installed in 'C:\Users\ayan1\AppData\Roaming\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [4]:
a=20 + 8j
print(a,type(a))

(20+8j) <class 'complex'>

In [5]:
#int, float , complex = Numerical

In [6]:
a='hello python'
print(a,type(a))

hello python <class 'str'>

In [7]:
#tuple
a= (2,34,5,5467)
print(a,type(a))

(2, 34, 5, 5467) <class 'tuple'>

In [8]:
a= [2,34,5,5467]
print(a,type(a))

[2, 34, 5, 5467] <class 'list'>

In [9]:
a[2]

5

In [10]:
a[2]=4000

In [11]:
a

[2, 34, 4000, 5467]

In [12]:
a= (2,34,5,5467)

print(a[3])

5467

In [13]:
a=list(a)
a[3]=900
a=tuple(a)
print(a)

(2, 34, 5, 900)

In [15]:
a={'Name':'aman','age':23,'address':'delhi'}
print(a,type(a))

{'Name': 'aman', 'age': 23, 'address': 'delhi'} <class 'dict'>

In [17]:
a['address']='noida'
print(a)

{'Name': 'aman', 'age': 23, 'address': 'noida'}

In [19]:
a['Name']='aman kumar'
print(a)

{'Name': 'aman kumar', 'age': 23, 'address': 'noida', 'name': 'aman kumar'}

In [24]:
data={'region':['west','east','north','south'],
      'sales':[345,546,453,456],
      'profit':[120,200,90,78]}
print(data)

{'region': ['west', 'east', 'north', 'south'], 'sales': [345, 546, 453, 456], 'profit': [120, 200, 90, 78]}

In [25]:
import pandas as pd

In [29]:
table=pd.DataFrame(data)

In [30]:
table

  region  sales  profit
0   west    345     120
1   east    546     200
2  north    453      90
3  south    456      78

In [31]:
a=True
print(a,type(a))

True <class 'bool'>

In [32]:
#salary = 56789
#>=50:manager
#>=30:jr manager
#>=20:executive

In [33]:
salary= 56789
if salary >= 50000:
    print('Manager')
elif salary>= 30000:
    print('jr manager')
elif salary>= 20000:
    print('executive')
else:
    print('intern')

Manager

In [34]:
import random 
random.randint(10000,60000)

58092

In [41]:
import numpy as np
database_salary=np.random.randint(10000,60000,5)
print(salary)

[11412 39552 41511 56754 38968]

In [42]:
for i in database_salary:
    salary = i
    if salary >= 50000:
        print(i,'Manager')
    elif salary>= 30000:
        print(i,'jr manager')
    elif salary>= 20000:
        print(i,'executive')
    else:
        print(i,'intern')

25139 executive
18418 intern
38750 jr manager
38975 jr manager
50147 Manager

In [47]:
import time
for i in range(10):
    print(time.asctime())
    time.sleep(1)
    display(clear=True)

Mon Jun 30 12:55:15 2025

In [56]:
import random
comp_choice=random.randint(1,10)
user_input=int(input('enter your choice(1-10):'))
print(f'''
user choice: {user_input}
computer choice: {comp_choice}''')
if user_input == comp_choice:
    print('user won , comp lose!!')
else:
    print('better luck next time')

enter your choice(1-10): 5

user choice: 5
computer choice: 5
user won , comp lose!!

In [64]:
user_attempt=3
for i in range(user_attempt):
    comp_choice=random.randint(1,10)
    user_input=int(input('enter your choice(1-10):'))
    print(f'''
    user choice: {user_input}
    computer choice: {comp_choice}''')
    if user_input == comp_choice:
        print('user won , comp lose!!')
    else:
        print('better luck next time')

enter your choice(1-10): 5

    user choice: 5
    computer choice: 10
better luck next time

enter your choice(1-10): 3

    user choice: 3
    computer choice: 4
better luck next time

enter your choice(1-10): 6

    user choice: 6
    computer choice: 10
better luck next time

In [65]:

options= {1:'''
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}


correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
   print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' on line 1 (148173165.py, line 8)

In [68]:
def say_hello(name):
    print(f'hello {name},', 'how are you??')

In [69]:
say_hello('ayan')

hello ayan, how are you??

In [73]:
def vote(age):
    print(f'your age is {age}')
    if age>=18:
        print('you can vote')
    else:
        print('you can"t vote')

In [74]:
vote(15)

your age is 15
you can"t vote

In [84]:
pip install gTTs

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gTTs in c:\users\ayan1\appdata\roaming\python\python312\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\lib\site-packages (from gTTs) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in c:\programdata\anaconda3\lib\site-packages (from gTTs) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<8.2,>=7.1->gTTs) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTs) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTs) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTs) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from gtts import gTTS
text = '''paytm par 50rs prapt hue.'''
audio=gTTS(text)
audio.save('paytm.mp3')
import pygame as p
p.init()
music = p.mixer.Sound('paytm.mp3')
music.play()

In [82]:
#pip install pygame

In [9]:
def sound_box(paisa,platform = 'paytm'):
    text = f'''{platform} par {paisa} prapt hue.'''
    audio=gTTS(text)
    audio.save('paytm.mp3')
    import pygame as p
    p.init()
    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [12]:
sound_box(2850,'phonepe')